// n is number of stars required
@function multiple-box-shadow ($n)
  $value: '#{random(2000)}px #{random(2000)}px #FFF'
  @for $i from 2 through $n
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF'

  @return unquote($value)

$shadows-small: multiple-box-shadow(700)
$shadows-medium: multiple-box-shadow(200)
$shadows-big: multiple-box-shadow(100)

html
  height: 100%
  background: radial-gradient(ellipse at bottom, #141842 0%, black 100%)
  background-attachment: fixed
  margin: 0

*
  font-family: 'Roboto Slab', serif
  text-align: center
  color: white

.container
  position: relative
  max-width: 80%
  margin: 0 auto

.flex
  display: flex
  justify-content: center

.flexboxCol
  display: flex
  justify-content: center
  flex-direction: column

.flexboxRow
  display: flex
  flex-direction: row

.header
  font-size: 4em
  font-weight: 200
  margin: 8px

.links
  overflow: hidden
  animation: slideinX 1s ease-in 0s
  animation-delay: 1s
  animation-fill-mode: forwards
  visibility: hidden
  margin: 10px 0

.links a
  padding: 10px
  font-weight: 400
  font-size: 20px
  text-decoration: none
  color: mediumorchid

.links a:hover
  text-decoration: underline

.navbar
  bottom: 0
  margin: 10px auto
  width: 80%

.navbar a
  margin: 0px 5px

.projects h2
  margin: 10px auto 0
  font-weight: 400
  font-size: 24px

.projects h3
  font-size: 18px
  font-weight: 400
  margin: .5em

.projects p
  font-size: 14px
  margin: 5px 0

.projects div
  margin: 25px 0
  animation: slideinX 1s ease-in 0s
  animation-fill-mode: forwards
  visibility: hidden

.projects div:nth-child(4)
  animation-delay: 0.5s

.projects a
  text-decoration: none
  color: mediumorchid

.projects a:hover
  text-decoration: underline

.projects hr
  border: 0
  height: 2px
  margin: 15px 0
  position: relative
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 10%,rgba(255,255,255,0.65) 50%,rgba(255,255,255,0) 90%,rgba(255,255,255,0) 100%)

.titleText
  font-size: 16px

.skills
  font-size: 14px

@media (min-width: 642px)
  .container
    position: relative
    max-width: 60%
    margin: 0 auto

  .header
    font-size: 100px
    font-weight: 200
    margin: 10px

  .links
    overflow: hidden
    animation: slideinX 1s ease-in 0s
    animation-delay: 1s
    animation-fill-mode: forwards
    visibility: hidden
    margin: 8px 0

  .links a
    padding: 10px
    font-weight: 400
    font-size: 20px
    text-decoration: none
    color: mediumorchid

  .links a:hover
    text-decoration: underline

  .projects h2
    margin: 10px auto 0
    font-weight: 400
    font-size: 40px

  .projects h3
    font-size: 20px
    font-weight: 400
    margin: .5em

  .projects p
    font-size: 16px
    margin: 5px 0

  .projects div
    margin: 25px 0
    animation: slideinX 1s ease-in 0s
    animation-fill-mode: forwards
    visibility: hidden

  .projects div:nth-child(4)
    animation-delay: 0.5s

  .projects a
    text-decoration: none
    color: mediumorchid

  .projects a:hover
    text-decoration: underline

  .projects hr
    border: 0
    height: 2px
    margin: 15px 0
    position: relative
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 10%,rgba(255,255,255,0.65) 50%,rgba(255,255,255,0) 90%,rgba(255,255,255,0) 100%)

  .navbar
    bottom: 0
    position: fixed
    margin: 10px auto
    width: 60%

  .navbar a
    margin: 0px 5px

  .navbar hr
    border: 0
    height: 2px
    margin: 15px 0
    position: relative
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 10%,rgba(255,255,255,0.65) 50%,rgba(255,255,255,0) 90%,rgba(255,255,255,0) 100%)

  .skills
    font-size: 20px

  .titleText
    font-size: 24px

@keyframes slideinY
  from
    opacity: 0
    transform: translateY(300px)
  to
    opacity: 1
    transform: translateY(0px)

@keyframes slideinX
  0%
    opacity: 0
    transform: translateX(-100px)
  100%
    opacity: 1
    transform: translateX(0px)
    visibility: visible

#stars
  width: 1px
  height: 1px
  background: transparent
  box-shadow: $shadows-small
  animation: animStar 100s linear infinite

  &:after
    content: " "
    position: absolute
    bottom: 2000px
    overflow: hidden
    width: 1px
    height: 1px
    background: transparent
    box-shadow: $shadows-small

#stars2
  width: 2px
  height: 2px
  background: transparent
  box-shadow: $shadows-medium
  animation: animStar 125s linear infinite

  &:after
    content: " "
    position: absolute
    bottom: 2000px
    overflow: hidden
    width: 2px
    height: 2px
    background: transparent
    box-shadow: $shadows-medium

#stars3
  width: 3px
  height: 3px
  background: transparent
  box-shadow: $shadows-big
  animation: animStar 150s linear infinite

  &:after
    content: " "
    position: absolute
    bottom: 2000px
    overflow: hidden
    width: 3px
    height: 3px
    background: transparent
    box-shadow: $shadows-big

@keyframes animStar
  from
    transform: translateY(0px)
  to
    transform: translateY(2000px)
